@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* body{
    background: rgb(8, 8, 51);
} */
.flex{
    display: flex;
}
.mce{
    background: rgb(8, 8, 51);
}
/* hedder section style */
main .hedder{
    height: 100vh;
    width: 100%;
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    
    
}
.hebody{
    background: rgba(19, 73, 127, 0.415);
    backdrop-filter: blur(4px);
    height: 100vh;
}
.nber{
   /* position: fixed;   */
    height: 10vh;
    width: 100%;
    z-index: 7;
}
.tecon{
    /* margin-top:10px ; */
    height: 75vh;
    width: 100%;
    /* background-color: rgba(21, 21, 206, 0.265); */
    /* backdrop-filter: blur(3px);  */
   
    justify-content: center;
    align-items: center;
   
}
.texc{
    /* height: 30vh; */
    width: 50%;
    /* background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px; */
}
.textc{
    /* height: 15vh; */
    width: 100%;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.lw{

}
.seary{
    /* height: 15vh; */
    width: 100%;
    /* background-color: rgb(183, 200, 26); */
    justify-content: center;
    align-items: center;
}
/* about me section style */

.about_me{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(27, 27, 67);
    border-radius: 0px 0px 15% 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.meimg{
    width: 35%;
    height: 100vh;
    /* background-color: brown; */
    justify-content: center;
}
.abimg{
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
.abimg:hover{
    opacity: 0.7;
}
.readab{
    width: 55%;
    /* height: 60vh; */
   
    flex-direction: column;
    justify-content: center;
}
.abbtn{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .625rem;
}
/* experties section */
.expert{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
}
.excont{
    width: 90%;
    height: 80vh;
    /* background-color: brown; */
    justify-content: center;
    flex-direction: column;
}
.progss{
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
    row-gap: 3.625rem;
}

.paria{
    width: 40%;
    height: 20vh;
    /* background-color: aquamarine; */
    justify-content: center;
    flex-direction: column;
    row-gap: .325rem;
}
.ammo{
    justify-content: space-between;
}

/* service section */
.service{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    margin-bottom: 11.5rem;
}
.serv{
    width: 90%;
    height: 85vh;
    /* background-color: blanchedalmond; */
    flex-direction: column;
}
.texser{
    width: 100%;
    height: 15vh;
    /* background-color: brown; */
}
.wraper{
    border-radius: 1.0rem;
    
    height: 70vh;
    /* border: 1px solid gray; */
    /* overflow-x: auto; */
    /* background-color: aqua; */
    /* flex-wrap: wrap; */
}
.wraper::-webkit-scrollbar{
    width: 0;
}
.wraper .card{
    /* min-width: 10.5rem; */
   
    /* margin-left: 5.625rem; */
    /* text-align: center; */
     background-color:rgb(27, 27, 67);
     transition: 0.5s;
    
}
.card:hover{
    z-index: 7;
    border-radius: 25px;
    background: rgb(27, 27, 67);
    box-shadow:  10px 10px 52px #00ffc3,
                 -10px -10px 52px #00d0ff;
                 
}

/* my study and exprience */

.studyaexpri{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sty_Exp{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
    padding: 35px 10%;
}
.rowc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid: column gap 1.25rem;
}
.colc header.title{
    /* font-family: helvetica;
    color: yellow; */
    padding: 0rem 0rem 1.25rem 1.875rem;
}
.colc .contents{
    padding: 0rem 1.875rem;
    border-left: 2px solid rgb(255, 230, 0);
}
.colc .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid rgb(35, 35, 54);
    background-color: rgb(27, 27, 67);
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: .625rem;
}

.colc .contents .box:hover{
    z-index: 7;
    border-radius: 15px;
    background: rgb(27, 27, 67);
    box-shadow:  3px 3px 30px #00ffc3,
                 -3px -3px 30px #00d0ff;
}
.colc .contents .box::before{
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    right: calc(100% + 21px);
    top: 0;
    background-color: gold;
    border: 4px solid rgb(238, 241, 242);

}

/* my project */
.my_project{
    height: 100vh;
    width: 100%;
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
    

}
.mp_on{
    height: 90vh;
    width: 90%;
    /* background-color: aqua; */
}
.mn_con{
    height: 80vh;
    width: 100%;
    /* background-color: blueviolet; */
}
.mn_con .card:hover{
    border-radius: 24px;
        
    background: rgb(27, 27, 67);
    box-shadow: inset 5px 5px 25px #00ffc3,
        inset -5px -5px 25px  #00d0ff;
}

.mn_con .card {
    overflow: hidden;
  }
  .mn_con .card img{
    transition: transform .5s ease;

  }
  .mn_con .card:hover img{
    transform: scale(1.1);
  
  }
  
.mnsli{
    background-size: cover;
    background-position: center;
    height: 80vh;
}
/* blog section */
.blog_section{
    width: 100%;
    height: 87vh;
    /* background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
    margin-bottom: 6.25rem;
}
.blg_sec{
    width: 90%;
    height: 80vh;
    /* background-color: #00ffc3; */
    
    
}
.blg_con{
    width: 100%;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
}
.blg_con .card{
    background-color:rgb(27, 27, 67); 
    border-radius: 1.5625rem;
    overflow: hidden;
}
.blg_con .card img{
    border-radius:1.4rem 1.4rem 0rem 0rem ;
    transition: transform .5s ease;
}
.blg_con .card:hover{
    background: rgb(27, 27, 67);
    box-shadow: inset 5px 5px 25px #00ffc3,
        inset -5px -5px 25px  #00d0ff;
}
.blg_con .card:hover img{
    transform: scale(1.1);
  
  }

/* contact me section */
.contact_me{
    height: 90vh;
    width: 100%;
    /* background-color: #00ffc3; */
    justify-content: center;
    align-items: center;
}
.con_back{
    height: auto;
    width: 100%;
    background: rgb(27, 27, 67);
    justify-content: space-around;
    border-radius: 3rem 70.125rem 0rem 0rem;
}
.con_frm{
    height: auto;
    width: 45%;
    /* background-color: blueviolet; */
}
.con_hed{
    height: auto;
    width: 100%;
    /* background-color: burlywood; */
}
.con_img{
    height: auto;
    width: 34%;
    /* background-color: rgb(47, 38, 215); */
    justify-content: center;
    align-items: flex-end;

}
.con_img img{
 width: 85%;
 position: relative;
 /* bottom: 20px; */
 background-size: cover;
cursor: pointer;
transition: all 0.5s;

}

.con_img img:hover{
    opacity: 0.7;
}
.con_form{
    width: 100%;
    height: auto;
    margin-top: auto;
}

/* footer section */
.footer{
    justify-content: center;
    align-items: center;
}
/* for responshive ness */

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .tecon{
        justify-content: center;
        text-align: center;
    }
    .about_me{
        width: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        overflow: none;
        background: none;
    }
    .meimg{
        width: 4 0%;
        height: 20.0rem;
      /*  border-radius: 50%;
        overflow: hidden;
        border: 8px solid rgb(255, 242, 0); */
    }
   
    .readab{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:rgb(27, 27, 67);
        border-radius: 0px 30px 0px 30px;
    }
    
    /* .abtext{
        
    } */
    .abbtn{
        flex-direction: column;
        margin-bottom: .625rem;
       
    }
    .abbtn button{
        width: 100%;
        padding-bottom: .625rem;
    }

    .expert{
        width: 100%;
        height: auto;
    }
    .excont{
        width: 100%;
        height: auto;
    }
    .progss{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .paria{
        width: 90%;
        height: auto;
        margin-top: .625rem;
        margin-bottom: .625rem;
    }
    .service{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .serv{
        height: auto
    }
    .wraper{
        border-radius: 1.0rem;
        height: 75vh;
        /* border: 1px solid gray; */
        overflow-x: auto;
        /* background-color: aqua; */
        /* flex-wrap: wrap; */
    }
    .wraper::-webkit-scrollbar{
        width: 0;
    }
    .card{
        height: auto;
    }
    .card:hover{
        /* margin-bottom: 1.25rem; */
        border-radius: 25px;
        
        background: rgb(27, 27, 67);
        box-shadow: inset 5px 5px 25px #00ffc3,
            inset -5px -5px 25px  #00d0ff;
    }
    .studyaexpri{
        height: auto;
        width: 100%;
       
    }
    .rowc{
        grid-template-columns: 1fr;
    }
    .rowc .colc:nth-child(2){
        margin-top: 1.25rem;
    }
    .blog_section{
        height: auto;
        width: 100%;
        margin: auto;
    }
    .blg_sec{
        width: 90%;
        height: auto;
        margin-bottom: 1.25rem;
        
        
    }
    .blg_con{
        width: 100%;
        height: auto;
        margin-bottom: 1.25rem;
    }

    .contact_me{
        height: auto;
        width: 100%;
        /* background-color: #00ffc3; */
        justify-content: center;
        align-items: center;
    }
    .con_back{
        height: auto;
        width: 100%;
        background: rgb(27, 27, 67);
        justify-content: space-around;
        border-radius: 1rem 30.125rem 0rem 0rem;
    }
    .con_frm{
        height: auto;
        width: 45%;
        /* background-color: blueviolet; */
    }
    .con_hed{
        height: auto;
        width: 100%;
        /* background-color: burlywood; */
    }
    
    .con_img{
        height: auto;
        width: 50%;
        /* background-color: rgb(47, 38, 215); */
        justify-content: center;
        align-items:flex-end;
    
    }
    .con_img img{
     width: 100%;
     height: 25.375rem;
     position: relative;
     top: 0.5px;
     background-size: cover;
    }
    .con_form{
        width: 100%;
        height: auto;
        /* margin-top: 2.875rem; */
    }
    
  }


