@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* body{
    background: rgb(8, 8, 51);
} */
.flex{
    display: flex;
}
.mce{
    background: rgb(8, 8, 51);
}
/* hedder section style */
main .hedder{
    height: 100vh;
    width: 100%;
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    
    
}
.hebody{
    background: rgba(19, 73, 127, 0.415);
    backdrop-filter: blur(4px);
    height: 100vh;
}
.nber{
   /* position: fixed;   */
    height: 10vh;
    width: 100%;
    z-index: 7;
}
.tecon{
    /* margin-top:10px ; */
    height: 75vh;
    width: 100%;
    /* background-color: rgba(21, 21, 206, 0.265); */
    /* backdrop-filter: blur(3px);  */
   
    justify-content: center;
    align-items: center;
   
}
.texc{
    /* height: 30vh; */
    width: 50%;
    /* background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px; */
}
.textc{
    /* height: 15vh; */
    width: 100%;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.lw{

}
.seary{
    /* height: 15vh; */
    width: 100%;
    /* background-color: rgb(183, 200, 26); */
    justify-content: center;
    align-items: center;
}
/* about me section style */

.about_me{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(33, 33, 46);
    border-radius: 0px 0px 15% 30%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.meimg{
    width: 30%;
    height: 100vh;
    /* background-color: brown; */
    justify-content: center;
}
.abimg{
    width: 100%;
}
.readab{
    width: 60%;
    /* height: 60vh; */
   
    flex-direction: column;
    justify-content: center;
}
.abbtn{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .625rem;
}
/* experties section */
.expert{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
}
.excont{
    width: 90%;
    height: 80vh;
    /* background-color: brown; */
    justify-content: center;
    flex-direction: column;
}
.progss{
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
    row-gap: 3.625rem;
}
.paria{
    width: 40%;
    height: 20vh;
    /* background-color: aquamarine; */
    justify-content: center;
    flex-direction: column;
    row-gap: .325rem;
}
.ammo{
    justify-content: space-between;
}
/* for responshive ness */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .tecon{
        justify-content: center;
        text-align: center;
    }
    .about_me{
        width: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        overflow: none;
    }
    .meimg{
        width: 40%;
        height: 20.5rem;
    }
    .readab{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:rgb(29, 29, 53);
    }
    /* .abtext{
        
    } */
    .abbtn{
        flex-direction: column;
        margin-bottom: .625rem;
       
    }
    .abbtn button{
        width: 100%;
        padding-bottom: .625rem;
    }

    .expert{
        width: 100%;
        height: auto;
    }
    .excont{
        width: 100%;
        height: auto;
    }
    .progss{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .paria{
        width: 90%;
        height: auto;
        margin-top: .625rem;
        margin-bottom: .625rem;
    }
  }
